<main role="main" class="inner cover">
  <h1 class="contact-heading">Contact Me</h1>
  <div class="page-desc">
    <div class="">
      <div class="col-md-12">
        <fa-icon class="angular-icon" [icon]="mapMarkedAltIcon" size="3x"></fa-icon>
        <p>Kuala Lumpur, Malaysia</p>
      </div>
      <div class="col-md-12">
        <fa-icon class="angular-icon" [icon]="mobileAltIcon" size="3x"></fa-icon>
        <p>010-9780 638</p>
      </div>
      <div class="col-md-12">
        <fa-icon class="angular-icon" [icon]="evelopeIcon" size="3x"></fa-icon>
        <p>victor.loh95@gmail.com</p>
      </div>
      <div class="col-md-12 contact-link" (click)="goToLink('https://github.com/victorlcs')">
        <fa-icon class="angular-icon" [icon]="githubIcon" size="3x"></fa-icon>
        <p>https://github.com/victorlcs</p>
      </div>
      <div class="col-md-12 contact-link" (click)="goToLink('https://www.linkedin.com/in/victor-loh-44450b120/')">
        <fa-icon class="angular-icon" [icon]="linkedinIcon" size="3x"></fa-icon>
        <p>https://www.linkedin.com/in/victor-loh-44450b120/</p>
      </div>
    </div>
  </div>

</main>
