.card {
  border: black 1px solid;
  //height: 250px;
  //height: auto;
  min-height: 250px;
  justify-content: center;
  padding: 0 5px 0 5px;
  cursor: pointer;
  img {
    height: 100%;
    object-fit: contain;
  }
  fa-icon {
    margin-right: 10px;
  }

  .bootstrap-icon {
    color: #be4bdb;
  }
  .angular-icon {
    color: darkred;
  }
  .node-icon {
    color: green;
  }
}
